.rect1 {
    /* Ao determinar uma largura e/ou altura nos filhos, não mais será preenchido até o final do elemento pai */
    width: 50px;    
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.rect2 {
    /* Inicia vazio, porém a classe é utilizada */
    border-radius: 8px;
}

header {
    width: 100%;
}

body {
    color: #FFF;
    font: normal 1.0rem Arial;
    text-align: center;
    background: #7e624f;
}

#containerBoxesSizes {
    width: 500px;
    margin: auto;
    border-top: 1px solid #8c6e5a;
    border-bottom: 1px solid #8c6e5a;
}

#containerPainel {
    width: 1200px;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}

#displayContainer {
    width: 100%;
    height: 220px;
    display: flex;
}

#container {
    width: 400px;
    height: 200px;
    /* O display FLEX deve ser colocado no elemento pai */
    display: flex;
    /* Por padrão o display flex vem com flex-direction do tipo row */
    flex-direction: row;
    /* background-color: #444; */
    /* background-color: #462814; */
    margin: auto;
    border-radius: 8px;
}

#color {
    position: absolute;
    width: 50px;
    height: 35px;
    top: 0.5rem;
    right: 0.8rem;
    border: 2px solid #000000b0;
    background-image: url(../change_color.png);
    background-repeat: no-repeat;
    background-position: center;
}

#obs {
    line-height: 2.5rem;
}

#sizesSettingsContainer {
    width: 45%;
}

#customBoxesSizes {
    display: flex;
    margin: auto;
    height: 35px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

#sliderWidthRange,
#sliderHeightRange {
    appearance: none;
    height: 26px;
    padding: 0;
    border: none;
    border-radius: 12px;
}

#currentWidthValue {
    font-size: 0.8rem;
    position: absolute;
    left: 158px;
    top: 35px;
    font-weight: bold;
}

#currentHeightValue {
    font-size: 0.8rem;
    position: absolute;
    left: 394px;
    top: 35px;
    font-weight: bold;
    color: #888;
}

#flexboxPropertiesContainer {
    width: 50%;
    height: 600px;
    border-left: 1px solid #8c6e5a;
}

#containerFlexDirection {
    width: 500px;
    margin: auto;
    border-bottom: 1px solid #8c6e5a;
}

#fdirection {
    width: 500px;
    height: 45px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#containerFlexWrap {
    width: 500px;
    margin: auto;
    border-bottom: 1px solid #8c6e5a;
}

#fwrap {
    width: 500px;
    height: 45px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

#containerJustifyContent {
    width: 500px;
    margin: auto;
    border-bottom: 1px solid #8c6e5a;
}

#jcontent {
    width: 500px;
    height: 90px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#containerAlignItems {
    width: 500px;
    margin: auto;
    border-bottom: 1px solid #8c6e5a;
}

#aitems {
    width: 500px;
    height: 45px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#containerAlignContent {
    width: 500px;
    margin: auto;
}

#acontent {
    width: 500px;
    height: 90px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#row {
    /* background: #db3a3a; */
    background: #b4b43b8a;
}

#jcontent > #flex-start {
    /* background: #2828e7; */
    background: #b4b43b8a;
}

#aitems > #flex-start {
    /* background: #258d25; */
    background: #b4b43b8a;
}

input {
    width: 120px;
    height: 30px;
    font: bold 0.8rem Arial;    
    /* background-color: #555; */
    /* background-color: #50321e; */
    color: #FFF;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}

.rectW {
    display: none;
}

.rectH {
    display: none;
}

.r1 {
    background: #ff00008a;
}

.r2 {
    background: #0000ff8a;
}

.r3 {
    background: #0080008a;
}

#boxes .span1 {
    position: absolute;
    left: 100px;
    top: 6px;
}

#boxes .span2 {
    position: absolute;
    left: 251px;
    top: 6px;
}

#boxes .span3 {
    position: absolute;
    left: 398px;
    top: 6px;
}

#boxesSizes .span2 {
    position: absolute;
    left: 341px;
    top: 6px;
}

#boxesSizes .span1 {
    position: absolute;
    left: 136px;
    top: 6px;
}

footer {
    width: 100%;
    height: 60px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

a {
    color: #FFF;
}

